
body
{
background-color: black;
}

.myContent {
    min-height: 100vh;
    justify-content: center;
    position: relative;
    display: flex;
    padding: 80px 40px;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.mycard {
    position: relative;
    width: 350px;
    height: 180px;
    background: #333333;
    transition: 0.5s;
}
.mycard:hover {
    height: 450px;
}
.mycard .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
    }
.mycard .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}
.mycard:hover .lines::before {
    animation-play-state: running;
}
@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.mycard .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.mycard .imgBx {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%);
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mycard:hover .imgBx {
    top: 25px;
    width: 200px;
    height: 200px;
}
.mycard .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;

}
.mycard:hover .imgBx::before{
    animation-play-state: running;
}
@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
.mycard .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}
.mycard .imgBx img {
    position: absolute;
    width: 180px;
    z-index: 1;
    /*filter: invert(1);*/
    transition: 0.5s;
}
.mycard:hover .imgBx img {
    opacity: 1;
}
.mycard .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.mycard .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(130px);

}
.mycard:hover .content .details {
    transform: translateY(90px);
}
.mycard .content .details h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #45f3ff;
    line-height: 1.2em;
}
.mycard .content .details p {
     color: #fff;
    padding: 10px 0;
    opacity: 0;
    transition: 0.5s;
}
.mycard:hover .content .details p {
    opacity: 1;
}
.mycard .content .details a {
    display: inline-block;
    padding: 10px 15px;
    background: #45f3ff;
    color: #292929;
    font-weight: 700;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}
.mycard:hover .content .details a {
    opacity: 1;
}